/* Additional CSS Requirement: body */
body {
	background-color: rgb(204, 204, 204);
}

h1, h2 {
	text-align: center;
}

.playlist-container {
    margin: 20px auto;
    width: 80%;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

ul {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
	list-style-type: none;
    padding: 5px 0;
}

a {
	text-decoration-line: none;
    color: black;
}

.player_one, .player_two {
    background-color: rgb(255, 255, 255); 
    padding: 15px ; 
    border-radius: 10px; 
    
    border: 2px solid black;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

.player_one video, .player_two audio {
	width: 100%;
}