/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204)
}

h1{text-align:center;}
h2{text-align:center;}

li{
	list-style-type:none;
}

ul{
	background-color:white;
	padding: 20px ; 
	border-radius: 10px;
	border: 2px solid black;
}

a{
	text-decoration-line: none;
}

.player_one{
	background-color: rgb(255, 255, 255); 
	padding: 20px ; 
	border-radius: 10px;
	border: 2px solid black;
	
}

.player_two{
	width:100%;
	
}